## execution.vm

## Variables
## $minorStatusEnabled, $serviceCall, $executableName, $params

#if( $minorStatusEnabled && $serviceCall )
$serviceCall ${MOTEUR_WORKFLOWID} ${JOBID} 4
#end

#set ( $tarFile = "${executableName}.tar.gz" )
tar -zxf $tarFile

chmod 755 *

## the 1s delay is needed to ensure that the time between this file creation and the command line outputs
## files creation is sufficient, and the subsequent "find -newer" call succeeds

echo "BEFORE_EXECUTION_REFERENCE" > BEFORE_EXECUTION_REFERENCE_FILE
sleep 1

#set( $parameters = "" )
#foreach( $param in $params )
    #set( $parameters = "$parameters \"$param\"" )
#end

export LD_LIBRARY_PATH=${PWD}:${LD_LIBRARY_PATH}

## The command_line variable is an array to allow spaces in string inputs
COMMAND_LINE=(./$executableName $parameters)

info "Executing $COMMAND_LINE..."

startLog application_execution

#[[
"${COMMAND_LINE[@]}"
]]#

if [ $? -ne 0 ]
then
    error "Exiting with return value 6"
    BEFOREUPLOAD=`date +%s`
    info "Execution time: `expr ${BEFOREUPLOAD} - ${AFTERDOWNLOAD}` seconds"
    stopLog application_execution
    cleanup
    exit 6
fi
BEFOREUPLOAD=`date +%s`
stopLog application_execution

info "Execution time was `expr ${BEFOREUPLOAD} - ${AFTERDOWNLOAD}`s"

__MOTEUR_ARGS="$parameters"
__MOTEUR_EXE="$executableName"