## footer.vm

##

startLog footer
cleanup
STOP=`date +%s`
info "Stop date is ${STOP}"
TOTAL=`expr $STOP - $START`
info "Total running time: $TOTAL seconds"
UPLOAD=`expr ${STOP} - ${BEFOREUPLOAD}`
DOWNLOAD=`expr ${AFTERDOWNLOAD} - ${START}`
info "Input download time: ${DOWNLOAD} seconds"
info "Execution time: `expr ${BEFOREUPLOAD} - ${AFTERDOWNLOAD}` seconds"
info "Results upload time: ${UPLOAD} seconds"
info "Exiting with return value 0"
info "(HACK for ARC: writing it in ${DIAG})"
info "exitcode=0" >> ${DIAG}
exit 0
stopLog footer