## header.vm

## Variables
## $minorStatusEnabled, $serviceCall, $defaultEnvironment, $voDefaultSE, 
## $voUseCloseSE, $simulationID

startLog header

START=`date +%s`
info "START date is ${START}"

## Determines if the execution environment is a grid or a cluster
export GASW_JOB_ENV=NORMAL
#set( $wmsLocation = '${GLITE_WMS_LOCATION:+x}' )
if [[ -n "$wmsLocation" ]]
then
    export GASW_EXEC_ENV=EGEE
else
    export GASW_EXEC_ENV=PBS
    export X509_USER_PROXY=$CLUSTER_PROXY
fi

## Builds the custom environment
export BASEDIR=${PWD}
ENV=$defaultEnvironment
export $ENV
__MOTEUR_ENV=$defaultEnvironment
export SE=$voDefaultSE
USE_CLOSE_SE=$voUseCloseSE

export MOTEUR_WORKFLOWID="$simulationID"

## if the execution environment is a cluster, the vlet binaries should be added to the path
if [[ "$GASW_EXEC_ENV" == "PBS" ]]
then
    export PATH=${VLET_INSTALL}/bin:$PATH
fi

DIAG=/home/grid/session/`basename ${PWD}`.diag;

## Creates execution directory
DIRNAME=`basename $0 .sh`
mkdir ${DIRNAME}
if [ $? = 0 ]
then
    echo "cd ${DIRNAME}"
    cd ${DIRNAME}
else
    echo "Unable to create directory ${DIRNAME}"
    echo "Exiting with return value 7"
    exit 7
fi

#if( $minorStatusEnabled && $serviceCall )
$serviceCall ${MOTEUR_WORKFLOWID} ${JOBID} 1  
#end

BACKPID=""

#DIRAC may wrongly position this variable
test -d ${X509_CERT_DIR}
if [ $? != 0 ]
then
        info "Unsetting invalid X509_CERT_DIR (${X509_CERT_DIR})"
        unset X509_CERT_DIR
fi

stopLog header