## inputs.vm

## Variables
## $minorStatusEnabled, $serviceCall, $downloads

startLog inputs_download

#if( $minorStatusEnabled && $serviceCall )
$serviceCall ${MOTEUR_WORKFLOWID} ${JOBID} 3
#end

touch ../DISABLE_WATCHDOG_CPU_WALLCLOCK_CHECK

#foreach( $download in $downloads )

startLog file_download uri="${download}"
downloadURI "$download"
__MOTEUR_IN="${__MOTEUR_IN};$download"
stopLog file_download
#end

chmod 755 *
AFTERDOWNLOAD=`date +%s`;

stopLog inputs_download