## uploadTest.vm

## Variables
## $cacheDir, $uri, $nrep

startLog upload_test

## creates void result
mkdir -p $cacheDir
test -f $cacheDir/uploadChecked
if [ $? != 0 ]
then
    upload "$uri" "" $nrep true
    delete "$uri" true
    touch $cacheDir/uploadChecked
else
    info "Skipping upload test (it has already been done by a previous job)"
fi

stopLog upload_test
