## cleanupFunction.vm

## Variables
## $cacheDir, $cacheFile

function cleanup {
    if [[ $mountGfal -eq 1 ]]    #flag checks if directories are mounted with gfal
    then
        unmountGfal    #unmounts all gfal mounted directories
    fi         
    startLog cleanup
    info "=== ls -a ==="
    ls -a
    info "=== ls $cacheDir/$cacheFile ==="
    ls $cacheDir/$cacheFile
    info "=== cat $cacheDir/$cacheFile === "
    cat $cacheDir/$cacheFile
    info "Cleaning up: rm * -Rf"
    \rm * -Rf
    if [ "${BACKPID}" != "" ]
    then
        for i in `ps --ppid ${BACKPID} -o pid | grep -v PID`
        do
            info "Killing child of background script (pid ${i})"
            kill -9 ${i}
        done
        info "Killing background script (pid ${BACKPID})"
        kill -9 ${BACKPID}
    fi
    info "END date:"
    date +%s
    stopLog cleanup
}


#exit function for any interruptions
function exitfn () {  
    trap -- '' SIGINT SIGTERM          #interruption is trapped
    cleanup                            #executes cleanup function
}

trap "exitfn" INT
